# =================================================================
# Python
# =================================================================

# Virtual Environments
# --------------------
# Ignore virtual environment folders to avoid committing project-specific
# dependencies and binaries.
.venv/
venv/
env/
.env/
ENV/

# Byte-compiled / optimized / DLL files
# -------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
# ------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# -----------
# Usually these files are created by PyInstaller.
*.manifest
*.spec

# Installer logs
# --------------
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
# ----------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/

# =================================================================
# General
# =================================================================

# Environment variables
# ---------------------
# Never commit .env files, as they may contain sensitive credentials.
# Use .env.example to provide a template for other developers.
.env
.env.*
!.env.example

# Databases
# ---------
# Ignore local database files.
*.sqlite
*.sqlite3
*.db
*.db-journal*
*.duckdb
*.duckdb.wal

# OS-generated files
# ------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =================================================================
# IDE / Editor specific
# =================================================================

# PyCharm
.idea/

# VSCode
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# =================================================================
# Documentation
# =================================================================

# Sphinx documentation
docs/_build/
doc/_build/